<div id="<%= dom_id cliente %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nombre:</strong>
    <%= cliente.nombre %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Contacto:</strong>
    <%= cliente.contacto %>
  </div>
</div>
